<table class="tableContainer">
  <tr class="headerRow">
    <th>Project name</th>
    <th>Project URL</th>
    <th>Template values</th>
  </tr>
  <tr *ngFor="let project of projects; let i = index;">
    <td>{{project.projectName}}</td>
    <td>{{project.projectUrl}}</td>
    <td><button (click)="select(i);">template items</button></td>
  </tr>
</table>

<table class="tableContainer">
  <tr class="headerRow">
    <th>Template name</th>
    <th>Value</th>
  </tr>
  <tr *ngFor="let project of projects;">
    <td>{{project.projectName}}</td>
    <td>{{project.projectUrl}}</td>
    <td><button>template items</button></td>
  </tr>
</table>
