<table class="tableContainer table">
  <h2>Projects</h2>
  <tr class="headerRow">
    <th id="zz">Project name</th>
    <th>Project URL</th>
    <th>Template values</th>
  </tr>
  <tr *ngFor="let project of projects; let i = index;">
    <td id="proj-name-{{i}}">{{project.projectName}}</td>
    <td id="proj-url-{{i}}">{{project.projectUrl}}</td>
    <td><button (click)="select(i);">template items</button></td>
  </tr>
</table>

<table *ngIf="selectedProject" class="tableContainer table">
  <h2>Template values</h2>
  <h3>{{selectedProject.projectName}}</h3>
  <tr class="headerRow">
    <th>Name</th>
    <th>Value</th>
  </tr>
  <tr *ngFor="let template of selectedProject?.templateValues;">
    <td>{{template.name}}</td>
    <td>{{template.value}}</td>
  </tr>
</table>
